{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div class="container">
            <h2>All Faculty</h2>
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                <tr class="info">
                    <th>Name</th>
                    <th>Degree</th>
                    <th>Year Recevied</th>
                    <th>Highest Degree</th>
                </tr>
                </thead>
                {% for faculty in faculty_members %}
                    <tr>
                        <td>{{ [faculty.facultyFirstName, faculty.facultyLastName] | join(' ') }}</td>
                        <td>{{ faculty.degreeAbbreviation }}</td>
                        <td>{{ faculty.degreeYear ?: 'Not Provided'}}</td>
                        <td>{{ faculty.degreeIsHighest ? 'Yes' : 'No'}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}