{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div class="container">
            <h2>All Faculty</h2>
            <table>
                <thead>
                <tr class="info">
                    <th>Name</th>
                    <th>Degree</th>
                    <th>Year Recevied</th>
                    <th>Highest Degree</th>
                </tr>
                </thead>
                {% for faculty in faculty_list %}
                    {{ faculty }}
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}