{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div class="container">
            <h2>Random Faculty</h2>
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                <tr class="info">
                    <th>Name</th>
                    <th>Degree</th>
                    <th>Year Recevied</th>
                    <th>Highest Degree</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}